/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: sans-serif;
}
.menu{
    background-color: cadetblue;
    padding: 12px;
    opacity: 0.7;
}
.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background-color: steelblue;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
.summary{
    padding: 12px;
    background-color: cadetblue;
    opacity: 0.7;
    padding-left: 20px;
    cursor: pointer;
}
.main-container{
    width: 100vw;
    height: calc(100vh - 10vh); 
    display: flex;
    flex-direction: row;
}
.side-bar{
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    background-color: steelblue;
    opacity: 80%;
    padding: 12;
    gap: 12;
    overflow-y: scroll;
}
.menu-item{
    padding: 12px;
    background-color: cadetblue;
    opacity: 70%;
    padding-left: 20px;
    cursor: pointer;
}
.submit-btn{
    width: stretch;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.submit-btn.ok{
    background-color: seagreen;

}
.submit-btn.warn{
    background-color: indianred;
}
.input{
    width: stretch;
    padding: 10px;
    margin-top: 10px;
}
.menu-item label{
    margin-top: 10px;
    display: block;
}
.menu-item.filter div{
    margin-top: 10px;
}
summary{
    font-weight: bold;
}